* {
    margin: 0;
    padding: 0;
    font-family: Manrope;
}

body {
    /* background: #F6F7F8; */
    background: #8b98a5;
}

nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 100px;
    padding: 10px;
    padding-left: 20px;
}

nav .nav-buttons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    
}

nav .nav-buttons li {
    display: flex;
    gap: 0.5rem;
}


nav .nav-buttons .active {
    background-color: #01F0D0;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}

.profile {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-right: 20px;
   
}

.text {
    padding: 0px 10px 0px 10px;
    
}

.line {
    width: 2px;
    height: 44px;
    background-color: #EDEDED;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 2rem;
    margin: 1rem;
}

.patients, .diagnostic{
    background-color: white;
    border-radius: 1rem;
    padding: .3rem;
    margin: 1rem 0;
}


.patients-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 15px;
    font-weight: 800;
}
.patients-list {
    flex: 1;
    overflow-y: auto;
    max-height: 80vh;
}
.patient-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.patient-card:nth-child(4) {
    background-color: #D8FCF7;
}
.patient-card .name {
    font-weight: bold;
}
.patient-card .gender-age {
    font-weight: 100;
}
.patient-card-left{
    display: flex;
    align-items: center;
}
.patient-picture {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}



.patient {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.patient-top {
    background-color: #FFFFFF;
    border-radius: 1rem;
}
.patient-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
}
.profile-picture img{
    width: 15rem;
    height: 15rem;
}
.patient-name {
    font-size: 1.5rem;
    font-weight: 800;
}

.patient-info {
    display: flex;
    align-items: center;
}
.patient-icon {
    padding: 1rem;
}
.patient-text {
    font-weight: 700;
}
.patient-footer {
    align-items: center;
    font-weight: 700;
    background-color: #01F0D0;
    border-radius: 50px;
    width: fit-content;
    margin: 2rem auto;
    padding: .5rem 2.5rem;

}
.patient-bottom {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
}
.lab-result {
    font-size: 1.5rem;
    font-weight: 800;
}